<h1>Welcome to my website!</h1>
<p>Hi! I'm Jack. I'm from China. Where are you from?</p>
<p>I like playing chess, what about you? </p>
<p>Please tell me your story! </p>
<p>You can click <%= link_to 'here!', welcome_say_hello_path %></p>