<!DOCTYPE html>
<html>
<head>

    <script type="text/javascript" name="baidu-tc-cerfication" data-appid="5415766" src="http://apps.bdimg.com/cloudaapi/lightapp.js"></script>
  
  <title>Demo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
